*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
*.env*
docs/
.cdk.staging
cdk.out
.trash
.aws-composer
*.dev*
*log*
.ruff_cache
.trash
.logs
.aws-sam
.aws-sam-ignore
samconfig.toml
ruff.toml

tests/

